@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-btn {
    @apply text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium;
  }

  .active {
    background: #3730a3 !important;
    color: white;
    padding-left: 0.1.5rem;
    padding-right: 0.1.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 0.375rem;
  }

  .active:hover {
    background: #443bbd !important;
  }
}
